<tr class="<%= cycle('odd', 'even') %>" id="page_modules_row_<%= page_module.id %>">
  <td><%= link_to page_module.title, edit_page_module_path(page_module) %></td>
  <td><%= page_module.slug %></td>
  <td style="text-align:center;">
    <%= page_module.published_from.nil? ? t('general.not_available_short') : page_module.published_from.strftime('%d.%m.%Y %H:%M:%S') %>
    <br/>
    -
    <br/>
    <%= page_module.published_until.nil? ? t('general.not_available_short') : page_module.published_until.strftime('%d.%m.%Y %H:%M:%S') %>
  </td>
  <td>
    <%= render partial: 'page_modules/actions', locals: { page_module: page_module } %>
  </td>
</tr>