<p>
<% if @page_module_slug_stubs.none? %> 
  <div class="alert alert-info" role="alert">
    <%= t('page_modules.index.empty_collection') %>
  </div>
<% else %>       
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
  <% @page_module_slug_stubs.each_with_index do |slug_stub, index| %>            
      <li role="presentation"<% if index == 0 %> class="active"<% end %>>
        <a 
          href="<%= page_modules_path(slug_stub: slug_stub) %>" 
          data-target="#page_modules_slug_stub_<%= slug_stub %>" aria-controls="page_modules_slug_stub_<%= slug_stub %>" 
          role="tab" data-toggle="tabajax"
        >
          <%= slug_stub.titleize %>
        </a>
      </li>
  <% end %>            
    </ul>
    <div class="tab-content">
  <% @page_module_slug_stubs.each_with_index do |slug_stub, index| %>              
      <div role="tabpanel" class="tab-pane active" id="page_modules_slug_stub_<%= slug_stub %>">
    <% if index == 0 %>
        <%= render partial: 'page_modules/collection' %>
    <% end %> 
      </div>
  <% end %>            
    </div>
  </div>
<% end %>
</p>

<p>
  <button 
    type="button" class="btn btn-default" data-toggle="modal" data-target="#modal" data-url="<%= new_page_module_path %>" 
    data-title="<%= t('page_modules.new.title') %>" data-only-update-body="false"
  >
    <span class="glyphicon glyphicon-plus"></span> <%= t('page_modules.new.short_title') %>
  </button>
</p>