<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/shared/head' %>
  </head>
  <body>
    <%= render partial: 'layouts/shared/navigation' %>
    
    <div class="container">
      <%= render partial: 'layouts/shared/flash' %>
      
      <div class="content">
<% if content_for?(:title) %>       
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
  <% if @show_breadcrumbs %>
              <%= raw breadcrumbs %><br/>
  <% end %>        
      
              <h2 id="title"><%= yield :title %> <%= image_tag 'home_page/spinner.gif', id: 'page_spinner', class: 'hide' %></h2>
            </div>
          </div>
        </div>
<% end %>
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>      
    
    <%= render partial: 'layouts/shared/foot' %>
  </body>
</html>